.nav,
.pantalla-transparente,
.header > .perfil {
    display: none;
}

.header {
    padding: 1%;
    background-color: #212e36;
    border-bottom: 4px solid #000;
    color: #fff;
    display: grid;
    grid-template-areas:
        "menu     titulo   ."
        "buscador buscador buscador";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    gap: 0.5em 0;
    place-items: center;
}

.menu {
    grid-area: menu;
    width: 45%;
}

.titulo {
    grid-area: titulo;
    width: 100%;
    margin: 0;
    border-bottom: 1px outset #fff;
    height: min-content;
    justify-self: flex-start;
}

.titulo-h1 {
    margin: 0;
    font-size: 1.5em;
}

.buscador {
    width: 100%;
    grid-area: buscador;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buscador input {
    width: 70%;
    padding: 5px;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid black;
    height: 1.5em;
}

.buscador input:focus {
    outline: none;
}

.buscador input:focus {
    border-color: #3b3b98;
}

.lupa {
    width: 1.5em;
    border: 1px solid black;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 4px;
    background-color: #e4e4e4;
}

.lupa:hover {
    background-color: #c8c8c8;
}

.nav {
    background-color: #000;
    height: 100vh;
    width: 40%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    font-size: 90%;
    overflow-y: scroll;

    border-right: 1px solid #fff;
}

.nav-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5%;
    margin: 0.5em 0;
}

.nav-menu svg {
    width: 30%;
}

.nav svg g {
    fill: #fff;
}

.nav .perfil {
    /* margin: 0 0 1em; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.nav .perfil-foto {
    width: 40%;
    border-radius: 50px;
}

.nav .perfil p {
    margin: 5px 0;
}

.nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0 0 4em 0;
}

.nav ul:last-child {
    margin: 0 0 8em 0;
}

.nav li {
    background-color: #000;
    height: 3em;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 5px;
    border-top: 1px solid #fff;
}

.nav li:hover {
    background-color: #20242c;
    color: #fff;
}

.nav li:last-child {
    border-bottom: 1px solid #fff;
}

.nav .crear-cuenta li a {
    color: #48dbfb;
}

.header a:link,
.header a:visited {
    color: #ffff;
    text-decoration: none;
}

.nav ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pantalla-transparente {
    position: fixed;
    width: 100vw;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.6;
    background-color: #000;
}

@media screen AND (min-width: 481px) AND (max-width: 768px) {
    .titulo-h1 {
        font-size: 1.8em;
    }

    .menu svg {
        width: 65%;
    }

    .nav {
        width: 25%;
        font-size: 110%;
    }

    .buscador input {
        height: 1.5rem;
    }

    .buscador .lupa {
        width: 1.5rem;
    }
}

@media screen AND (min-width: 769px) {
    .menu,
    .header .nav,
    .nav .nav-menu,
    /* .nav .extra, */
    .nav .perfil,
    .crear-cuenta {
        display: none;
    }

    .header .pantalla-transparente {
        display: none !important;
    }

    .header {
        grid-template-areas:
            "titulo  buscador  perfil"
            "nav     nav       nav";
        grid-template-rows: 0.5fr 0fr;
        grid-template-columns: 1fr 2fr 1fr;
        padding: 1% 0 0 0;
    }

    .titulo {
        border-width: 3px;
        margin-left: 10%;
    }

    .nav {
        grid-area: nav;
        width: 100%;
        display: flex;
        height: min-content;
        position: initial;
        overflow: visible;
        grid-area: nav;
        justify-content: space-between;

        border: 1px solid #fff;
        border-right: none;
        border-left: none;
    }

    .header .nav ul {
        margin: 0;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        flex-basis: 1;
        border: none;
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;

    }

    .nav ul li,
    .nav ul li:last-child {
        border: none;
    }

    .header > .perfil {
        grid-area: perfil;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        height: min-content;
        cursor: pointer;

        width: min-content;
        justify-self: flex-end;
        margin-right: 10%;
        border: 1px solid #48dbfb;
        align-self: flex-start;
        padding: 0.2em 0.5em;
        border-radius: 7px;

        gap: 1em;

        background-color: #454d55;
    }

    .header > .perfil:hover {
        background-color: #5c6269;
    }

    .perfil-foto {
        order: 1;
        max-width: 2em;
        margin: 0;
    }

    .perfil p {
        margin: 0;
    }

    .crear-cuenta {
        background-color: #fff;
        color: #000;
        border: none;
        padding: 0;
        margin: 0;
        list-style: none;
        height: min-content;

        order: 2;
    }

    .nav .crear-cuenta li {
        padding: 5px;
    }

    .nav .crear-cuenta li a {
        color: #fff;
    }

    .crear-cuenta li:hover {
        background-color: #8395a7;
    }

    .crear-cuenta a:link,
    .crear-cuenta a:visited {
        color: #000;
    }
}

@media screen AND (min-width: 1280px) {
    .header {
        padding: 0.5% 0 0 0;
    }

    .titulo {
        font-size: 1.3em;
        width: 70%;
    }

    .buscador input {
        height: 1.7em;
    }

    .buscador img {
        width: 1.7em;
    }

    .perfil p {
        font-size: 1.2em;
    }

    .perfil .perfil-foto {
        max-width: 2.5em;
    }

    .nav {
        font-size: 1.1em;
    }
}
